@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    font-size: 14px;
    --tw-bg-opacity: 1;
    background-color: rgb(254 242 242 / var(--tw-bg-opacity));
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

h1 {
    font-size: 28px;
    font-weight: 800;
    line-height: normal;
}

.card {
    background-color: white;
    border-radius: 6px;
    padding: 12px;
    width: 96%;
    margin: auto;
    min-height: 200px;
}

header {
    box-shadow: 0 2px 4px -1px rgba(53, 0, 0, 0.15);
}

.nav-buttons {
    padding: 12px 20px;
}

.nav-buttons:hover {
    border-radius: 24px;
}

nav > h4 {
    font-size: 16px;
    font-weight: 600;
}

li > a:hover {
    text-decoration: underline;
}

.auth input {
    width: 100%;
    padding: 4px 8px;
    border: 1px solid rgb(182, 180, 180);
    border-radius: 4px;
    outline: none;
}

.auth label {
    line-height: normal;
    font-size: 14px;
    font-weight: 600;
}

.link {
    color: #2563eb;
    text-decoration: none;
}

.link:hover {
    color: #dc2626;
    text-decoration: underline;
}

.inputfld input,
textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--accent);
    border-width: 1px;
    border-radius: 0.375rem;
    outline: none;
}

.inputfld input:focus,
textarea:focus, .auth input:focus {
    border-color: #f00;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
}
